@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
  .sidepanel {
    display: none;
  }
  .about {
    &__wrapper {
      grid-template-columns: 400px 520px;
      column-gap: 40px;
    }
    &__skills {
      grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
      column-gap: 20px;
      &-item {
        grid-template-columns: 40px 195px;
        gap: 15px;
      }
    }
  }
  .resume {
    &__wrapper {
      gap: 110px;
    }
  }
  .skills {
    &__wrapper {
      grid-template-columns: repeat(3, 270px);
      grid-template-rows: repeat(3, minmax(270px, auto));
    }
    &__stat {
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: space-between;
      column-gap: 0;
    }
    &__stat {
      justify-content: space-around;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      .vertical,
      .horizonal {
        height: 280px;
        width: 280px;
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
  .contacts {
    &__photo {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 585px;
      justify-content: center;
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .about {
    &__wrapper {
      grid-template-columns: 300px 400px;
      gap: 20px;
    }
    &__skills {
      grid-template: minmax(75px, auto) / 400px;
      column-gap: 20px;
      &-item {
        grid-template-columns: 40px 345px;
      }
    }
  }
  .resume {
    &__wrapper {
      grid-template-columns: repeat(2, 325px);
      gap: 70px;
    }
  }
  .skills {
    &__wrapper {
      padding-top: 20px;
      grid-template-columns: repeat(auto-fit, 270px);
    }
    &__stat {
      justify-content: space-between;
    }
  }
  .prise {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 350px);
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 570px;
  }
  .menu {
    &__link {
      a {
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .promo {
    &__title {
      font-size: 36px;
      line-height: 39px;
    }
  }
  .about {
    padding-top: 40px;
    &__wrapper {
      grid-template: 340px auto auto / 1fr;
    }
    &__photo {
      grid-row: 1/2;
    }
    &__skills {
      grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 250px);
      &-item {
        grid-template-columns: 40px 195px;
      }
    }
  }
  .resume {
    padding-top: 40px;
    &__wrapper {
      padding-top: 40px;
      grid-template-columns: 1fr;
      gap: 40px;
    }
  }
  .skills {
    &__wrapper {
      grid-template-columns: repeat(2, 260px);
    }
    &__column {
      padding: 25px;
    }
    &__stat {
      padding-top: 40px;
      justify-content: center;
    }
  }
  .portfolio {
    padding-top: 40px;
    &__wrapper {
      padding-top: 40px;
    }
    &__photo{
      &:hover {
        transform: unset;
        filter: unset;
      }
    }
  }
  .prise {
    &__wrapper {
      justify-content: center;
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 540px;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .devider {
    margin: 15px auto 0 auto;
  }
  .promo {
    &__title {
      width: 273px;
      font-size: 26px;
      line-height: 39px;
    }
  }
  .hamburger {
    right: 20px;
  }
  .menu {
    &__block {
      padding-left: 20px;
      width: 250px;
    }
  }
  .about {
    &__wrapper {
      grid-template: 340px auto auto / 1fr;
    }
    &__subtitle {
      font-size: 24px;
    }
    &__skills {
      grid-template-columns: 1fr;
      &-item {
        grid-template-columns: 40px 195px;
      }
    }
  }
  .resume {
    &__subtitle {
      font-size: 24px;
      line-height: 36px;
    }
    &__wrapper {
      padding: 0;
      padding-top: 40px;
    }
  }
  .skills {
    &__subtitle {
      font-size: 24px;
      line-height: 36px;
    }
    &__wrapper {
      grid-template-columns: 270px;
    }
    &__column {
      padding: 30px;
    }
    &__stat {
      grid-template-columns: repeat(auto-fit, 270px);
    }
  }
  .prise {
    &__wrapper {
      padding-top: 40px;
      grid-template-columns: repeat(auto-fit, 270px);
      grid-template-rows: auto;
      grid-auto-rows: auto;
    }
    &__item {
      grid-template-columns: auto;
      grid-template-rows: auto;
      gap: 5px;
      &-price {
        font-size: 13px;
      }
    }
  }
  .contacts {
    padding: 40px 0;
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__subtitle {
      font-size: 24px;
      line-height: 36px;
    }
    &__form {
      grid-template: 45px 45px 140px 45px 29px/ 1fr;
    }
    &__textarea {
      grid-column: unset;
      width: 100%;
    }
    &__triggers {
      grid-column: unset;
      column-gap: unset;
      grid-template-columns: 1fr;
      row-gap: 20px;
      justify-items: center;
    }
    &__btn {
      width: 219px;
      height: 45px;
    }
    &__policy {
      width: 180px;
      height: 36px;
      &-text {
        color: $main-color;
      }
    }
  }
}
