.skills {
  padding-top: 120px;
  &__title {
    text-align: center;
    position: relative;
    @include before_circle;
    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__subtitle {
    text-align: center;
  }
  &__wrapper {
    display: grid;
    padding-top: 60px;
    justify-content: center;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2, minmax(270px, auto));
    grid-auto-rows: minmax(270px, auto);
    gap: 13px;
  }
  &__column {
    padding: 30px;
    &-logo {
      height: 65px;
      display: flex;
      align-items: center;
      img {
        max-height: 100%;
      }
    }
    &-desc {
      padding-top: 20px;
    }
    &-text {
      padding-top: 15px;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__stat {
    padding-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 70px);
    grid-auto-rows: 1fr;
    gap: 30px 45px;
    &-item {
      display: grid;
      grid-template-rows: 29px 14px;
      grid-template-columns: 200px 50px;
      // grid-template: 21px 14px / 200px 35px;
      justify-content: space-between;
      align-content: space-between;
    }
    &-title {
      position: relative;
      @include before_circle;
      padding-left: 14px;
      margin-top: 8px;
      &::before {
        top: -40%;
      }
    }
    &-counter {
      text-align: right;
      margin-top: 8px;
    }
    &-line {
      grid-column: 1/3;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      background-color: #E8E4DE;
      span {
        display: block;
        height: 100%;
        background-color: $main-color;
        border-radius: 4px;
      }
    }
  }
}
